moc_*
*.moc
*.o
*.qm
Makefile
*.so
*.so.*
builddir/*
debian/tmp/*
build-stamp
configure-stamp
*.bak
*~
*.core
core
*.pro.user
debian/files
*.gcda
*.gcno
*.h.gcov
*.gcov
*.log
doc/html/*
doc/man/*
*.pc
*.out
*.substvars
*.debhelper
crash-reporter.ts
crash-reporter.qm
tests/qtest/tests.xml
