#MDialogTitleLabel {
	color: #FFFFFF;
    font: "Nokia Sans Cn" 22;
}

MAbstractLayoutPolicyStyle#DialogMainLayout {
    margin-left: 20.0;
    margin-right: 20.0;
	margin-top: 10.0;
	margin-bottom: 10.0;
}
