#FileNameLabel {
    font: "Nokia Sans Cn" 20;
    margin-top: 10;
    margin-bottom: 10;
}

#FileSizeLabel {
    font: "Nokia Sans Cn" 20;
    margin-top: 10;
    margin-bottom: 10;
}

#UploadStatusLabel {
    font: "Nokia Sans Cn" 20;
    margin-top: 10;
    margin-bottom: 10;
}

#UploadProgressLabel {
    font: "Nokia Sans Cn" 20;
    margin-top: 10;
    margin-bottom: 10;
}

#InformationBanner {
    minimum-size: -1 -1;
    preferred-size: -1 -1;
    maximum-size: -1 -1;
}
