Source: crash-reporter
Section: devel
Priority: optional
Maintainer: Riku Halonen <riku.halonen@nokia.com>
Build-Depends: debhelper (>= 5), pkg-config, libmeegotouch-dev (>= 0.20), libduicontrolpanel-dev, doxygen, aegis-builder (>= 1.6)
Standards-Version: 3.8.0

Package: crash-reporter
Architecture: any
Section: devel
Depends: ${shlibs:Depends}, ${misc:Depends}, libmeegotouch-bin, sp-rich-core, duicontrolpanel, crash-reporter-settings, libcrash-reporter0, crash-reporter-l10n-engineering-english (= ${binary:Version})
Description: Crash Reporting Tool for MeeGo.
 Provides an user-friendly graphical user interface which allows
 users to easily upload crash reports provided by sp-rich-core to
 centralized location to help developers to fix issues.
  
Package: libcrash-reporter0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Crash Reporter library
 This package contains various widgets and helper classes for 
 Crash Reporter.

Package: libcrash-reporter-dev
Section: libdevel
Priority: extra
Architecture: any
Depends: libcrash-reporter0 (=${binary:Version}), libmeegotouch-dev (>= 0.20)
Description: Development headers for Crash Reporter library.
 Development headers for compiling widgets and helper classes against the Crash Reporter library.

Package: crash-reporter-dbg
Section: devel
Architecture: any
Priority: extra
Depends: crash-reporter (=${binary:Version}), ${misc:Depends}
Description: Debug symbols for Crash Reporter.
 Debug symbols for Crash Reporter to make debugging it with tools such as
 gdb easier and results more meaningful.

Package: libcrash-reporter0-dbg
Section: devel
Architecture: any
Priority: extra
Depends: libcrash-reporter0 (=${binary:Version}), ${misc:Depends}
Description: Debug symbols for Crash Reporter library.
 Debug symbols for Crash Reporter library to make debugging it with tools such as
 gdb easier and results more meaningful.

Package: crash-reporter-doc
Section: doc
Architecture: any
Priority: optional
Description: Documentation for crash-reporter.
 Doxygen-generated API documentation for Crash Reporter.

Package: crash-reporter-tests
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, crash-reporter (= ${binary:Version}), ci-testing
XB-Maemo-CI-Packages: crash-reporter, libcrash-reporter0
XB-Maemo-CI-Stage: fast, staging, acceptance, validation
Description: crash-reporter tests.
 Test binaries for testing Crash Reporter.

Package: crash-reporter-ui-tests
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, matti, libcucumber-ruby1.8, ci-testing
XB-Maemo-CI-Packages: crash-reporter, libcrash-reporter0
Description: crash-reporter UI tests.
 MATTI test cases for Crash Reporter UI.

Package: crash-reporter-l10n-engineering-english
Section: devel
Architecture: any
Enhances: crash-reporter
Description: Engineering English translations for Crash Reporter.
