#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# by default make docs
MAKEDOCS = 1

# some commonly used local vars
comma:= ,
empty:=
space:= $(empty) $(empty)

# Disable debug output and file logging by setting DEB_BUILD_OPTIONS=nodebugoutput,...
ifneq (,$(findstring nodebugoutput,$(DEB_BUILD_OPTIONS)))
	QMAKE_OPTIONS += NO_DEBUG_OUTPUT=on
	CONFIG += release
endif

# Don't build documentation by setting DEB_BUILD_OPTION=nodocs,...
ifneq (,$(findstring nodocs,$(DEB_BUILD_OPTIONS)))
     MAKEDOCS = 0
endif

# project specific
PROJECT_NAME:= crash-reporter
BUILD_DIR=build-$(shell dpkg-architecture -qDEB_BUILD_ARCH)

configure: configure-stamp
configure-stamp:
	dh_testdir

	# Add here commands to configure the package.
	mkdir -p $(BUILD_DIR)
	cd $(BUILD_DIR) && qmake $(QMAKE_OPTIONS) ../$(PROJECT_NAME).pro

	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp  
	dh_testdir

	# Add here commands to compile the package.
	cd $(BUILD_DIR) && $(MAKE)

	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	rm -rf $(BUILD_DIR)
	rm -f -r debian/tmp

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

ifneq (0,$(MAKEDOCS))
	cd $(BUILD_DIR) && $(MAKE) docs 
endif

	# Add here commands to install the package into debian/tmp.
	cd $(BUILD_DIR) && INSTALL_ROOT=$(CURDIR)/debian/tmp make $(MAKE) install

	install -m 644 -D -p $(BUILD_DIR)/translations/crash-reporter.ts $(CURDIR)/debian/tmp/usr/share/doc/crash-reporter-l10n-engineering-english/crash-reporter.ts

# Build architecture-independent files here.
binary-indep: install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
#	dh_installexamples
	dh_install --sourcedir=debian/tmp
#	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit --name=crash-reporter
#	dh_installcron
#	dh_installinfo
#	dh_installman
	dh_link
	dh_strip --dbg-package=crash-reporter-dbg \
			 --dbg-package=libcrash-reporter0-dbg	
	dh_compress 
	dh_fixperms
#	dh_perl
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
