#DialogUpperLabel {
    font: "Nokia Sans Cn" 20;
    minimum-size: -1 -1;
    maximum-size: -1 -1;
    preferred-size: -1 -1;
    margin-bottom: 20;
}

#DetailsLabel {
    font: "Nokia Sans Cn" 18;
    minimum-size: -1 -1;
    maximum-size: -1 -1;
    preferred-size: -1 -1;
}
