[Unit]
Description=Runs crash-reporter-endurance every hour

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
Unit=crash-reporter-endurance.service

[Install]
WantedBy=basic.target
