[Unit]
Description=Crash file reporter daemon
Requires=dbus.service
After=user-session.target

[Service]
ExecStart=/usr/bin/crash-reporter-daemon
Type=simple
Restart=always

[Install]
WantedBy=post-user-session.target
