[Unit]
Description=Crash reporter integration with sp-endurance
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/libexec/endurance-collect-daemon
Restart=always

[Install]
WantedBy=multi-user.target
