#DialogUpperLabel {
    font: "Nokia Sans Cn" 20;
    minimum-size: -1 80;
    maximum-size: -1 80;
    preferred-size: -1 80;
}

#CrashDetailsLabel {
    font: "Nokia Sans Cn" 18;
}

#DialogCommentField {
    minimum-size: -1 50;
    maximum-size: -1 50;
    preferred-size: -1 50;
    zoomable: false;
    font: "Nokia Sans Cn" 18;
}
